In [85]:
import pandas as pd
import json
import requests

In [90]:
in_path = "https://api.opendatanetwork.com/data/v1/values?app_token=cQovpGcdUT1CSzgYk0KPYdAI0&describe=true&forecast=5&format=google&variable=demographics.population.count&entity_id=310M200US42660%2C310M200US47900"
out_path = "..//data//Seattle_Population.csv"

In [121]:
d = json.loads(requests.get(in_path).text)
year,pop = [],[]
for i, e in enumerate(d['data']['rows']):
    year.append(d['data']['rows'][i]['c'][0]['v'])
    pop.append(d['data']['rows'][i]['c'][1]['v'])
    
df = pd.DataFrame({'Year': year, 'Population': pop})
df = df[df['Year']<2019]

In [122]:
df['Year'] = pd.to_datetime(df['Year'],format='%Y')
df = df.set_index('Year')

In [123]:
df.head()

            Population
Year
2009-01-01     3306836
2010-01-01     3356089
2011-01-01     3404443
2012-01-01     3453748
2013-01-01     3504628

In [124]:
upsampled = df.resample('D')
interpolated = upsampled.interpolate(method='linear')
df = interpolated

In [126]:
df.to_csv(out_path)